WELCOME to Chris's math program

What would you like to do? (addition, substraction, muplity, divide)
<br><br>
<center>
<img scr= "math.jpg width 259 height 194">
<br><br>
<form method= "post" action= "math_type">
	<input type= "text" name= "math_type">
	<br>
	<input type= "submit">
</form>
</center>