WELCOME to Chris's Math program
<br><br>
What would you like to do? (addition, substraction, muplity, divide)
<br><br>
<center>
<img scr= "math.jpg width 259 height 194">
<br><br>
<form method= "post" action= "math_type">
	<input type= "text" name= "math_type">
	<br>
	<br>
	What number do you want to use?
<form>
	<input type="integer" name= "p1">
	<input type="integer" name= "p2">
	<br><br>
	<input type= "submit">
</form>
</center>